<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body {
                margin: 0;
                width: 100vw;
                height: 100vh;
            }
            .contents {
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                height: 100%;
            }
            .text-box {
                display: table-cell;
                font-size: 100px;
            }
        </style>
    </head>

    <body>
        <div class="contents">
            <div class="text-box">
                <b>잘못된 접근입니다.</b>
            </div>
        </div>
    </body>
</html>